div{
    box-sizing: border-box;
    width: 100%;
}

.footer {
    display: inline-block;
    height: fit-content;
    text-align: center;
    background: #C8FFC3;
}

table{
    box-sizing: border-box;
    width: 100%;
}